/* components/Header/Header.module.css */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.contacts {
  display: flex;
}

.contact {
  margin: 0 10px;
  color: #006FB9;
  transition: color 0.3s;
}

.contact:hover {
  color: #025e9c;
  text-shadow: -1px 1px 1px #006fb92b;

}

.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menuitem {
  margin-right: 20px;
}
@media (max-width: 787px) {
  .logo {
    width: 100%;
    margin: 10px;
  }

  .menu {
    width: 100%;
    margin: 10px 0 20px;
  }

  .horizontal {
    align-items: center;
    justify-content: center;
  }
}

/* Tablet styles */
@media (min-width: 788px) and (max-width: 1050px) {
  .header {
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    width: 100%;
    margin: 10px;
  }
}

/* Desktop styles */
@media (min-width: 1051px) {
  .header {
    margin-left: auto;
    margin-right: auto;
  }

  .flex {
    flex-wrap: nowrap;
  }
}