/* components/Directions/Directions.module.css */
.mainDirections {
  background-color: #ffffff;
  text-align: center;
  padding: 50px 10px;
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in forwards;
}
.svgPattern {
  background: url('/img/pattern.svg') repeat;
  height: 18px;
  opacity: 0;
    animation-delay: 0s;
}

.title {
  font-size: 50px;
  color: #006FB9;
  padding-bottom: 20px;
  margin-top: 30px;
  font-weight: 400;
  opacity: 0;
    animation-delay: 0.5s;
}

.mapContainer {
  position: relative;
  height: 500px;
  opacity: 0;
    animation-delay: 1s;
}

.mapBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mapOverlay {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.mapOverlayImg {
  width: 415px !important;
}
.mapTextLeft,
.mapTextRight {
  font-size: 20px;
  color: #006FB9;
  font-weight: 700;
}

.mapTextLeft {
  margin-right: 10px;
}

.mapTextRight {
  margin-left: 10px;
}

.contactButtonContainer {
  margin-top: -25px;
  opacity: 0;
    animation-delay: 1.5s;
}

.contactButton {
  background-color: #006FB9;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.contactButton:hover {
  background-color: #005999;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.line {
  width: 26px;
  height: 1.09px;
  padding: 0 2px;
  margin: 0 2px;
  background-color: #999999;
  display: inline-block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}